body {
  margin: 0;
  font-family: 'Georgia', serif;
  background: #f5f3ef;
}

/* HEADER */
.header {
  background: #2e5d46;
  color: white;
  text-align: center;
  padding: 30px 20px;
}

.header h1 {
  margin: 0;
  letter-spacing: 2px;
}
.titulo-secao::after {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  background: #2e5d46;
  margin-top: 5px;
}
/* GRID */
.container-produtos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 25px;
  padding: 30px;
}

/* CARD */
.card {
  text-decoration: none;
  color: inherit;
  background: white;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

/* IMG */
.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

/* CONTENT */
.card-content {
  padding: 20px;
}

.tag {
  background: #2e5d46;
  color: white;
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 20px;
}

.card h3 {
  margin: 10px 0;
  color: #2e5d46;
}

.preco {
  font-weight: bold;
  color: #2e5d46;
}

/* FOOTER */
.footer {
  text-align: center;
  padding: 20px;
  background: #ddd;
}

/* PÁGINA INTERNA */
.pagina {
  padding: 30px;
}

.produto-detalhe {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.produto-detalhe img {
  width: 100%;
  border-radius: 10px;
}

.desc {
  color: #555;
}

/* BOTÃO VOLTAR */
.voltar {
  display: inline-block;
  margin-top: 10px;
  color: white;
  text-decoration: none;
}

.btn-whatsapp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #25d366;
  color: white;
  padding: 14px 18px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.25);
  transition: 0.3s;
}

.btn-whatsapp:hover {
  transform: scale(1.05);
}
.pagina-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 30px;
}
.item {
  background: white;
  border-radius: 12px;
  overflow: hidden;
  padding-bottom: 15px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.08);
  transition: 0.3s;
}

.item:hover {
  transform: translateY(-5px);
}

.item img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.item h3 {
  margin: 10px;
  color: #2e5d46;
}

.item p {
  margin: 0 10px 10px;
  font-size: 14px;
  color: #555;
}

.item .preco {
  margin: 0 10px;
  font-weight: bold;
  color: #2e5d46;
}